{% extends "base.html" %}

{% block headline %}Metadata Query{% endblock %}

{% block content %}

<table class=placement>
    <tr><td><h3>Query</h3></td>
        <td><form method="post" target=".">
                <table class="placement">
                    <!--
                    <tr>
                        <td width=10px>Namespace:</td><td width="100%"><input type="text" name="namespace"
                                value="{{namespace or 'test'}}"/></td>
                    </tr>
                    -->
                    <tr>
                        <td colspan=2><textarea name="query" cols=80 rows=10>{{query}}</textarea></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="run"/></td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
    
    {% if show_files %}
    <tr><td colspan=2><hr/></td></tr>
    <tr>
        <td>
            <p><h3>Results</h3></p>
            <p>{{files|length}} files</p>
            <p>Runtime:{{"%.3f"|format(runtime)}} seconds</p>
            <p><a href="query?format=json&query={{url_query}}">json</a></p>
        </td>
        <td>
            <table class="data">
            <!--
            <tr>
                <th>File name</th><th>Meatadata</th>
            </tr>
            -->
            {% for f in files|sort(attribute="Name") %}
                <tr>
                    <td>{{f.Namespace}}:{{f.Name}}</td>
                    {% for k, v in f.Metadata.items()|sort %}
                        <td>{{k}}={{v}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </td>
    </tr>
    {% endif %}

    
    
</table>

        

{% endblock %}
