{% extends "base.html" %}

{% block headline %}Query{% endblock %}

{% block content %}

<table class=placement>
    <tr><td>Query</td>
        <td><form method="post" target=".">
                <textarea name="query" cols=80 rows=10>{{query}}</textarea>
        </td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" value="run"></input>
        </td>
    </tr>
    
    {% if show_files %}
    <tr><td colspan=2><hr/></td></tr>
    <tr>
        <td>Results<br/><a href="query?format=json&query={{url_query}}">json</a></td>
        <td>
            <table class="data">
            <!--
            <tr>
                <th>File name</th><th>Meatadata</th>
            </tr>
            -->
            {% for f in files|sort(attribute="Name") %}
                <tr>
                    <td>{{f.Namespace}}:{{f.Name}}</td>
                    {% for k, v in f.Metadata.items()|sort %}
                        <td>{{k}}={{v}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </td>
    </tr>
    {% endif %}

    
    
</table>

        

{% endblock %}
